h1 {
  color: #00008B
  font-size: 60px
}
  
body {
  background-color: #FFEBCD;
}

p {
  color: #000000;
  font: italic 30px "Fira Sans", serif;
  border: 1rem solid
}

  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px
}

nav a:hover {
  background-color: black;
}


  
 
    
  
