h1 {
  color: #00008B
}
  
body {
  background-color: #FFEBCD;
}

p {
  color: #000000;
  font: italic 30px "Fira Sans", serif;
  border: 1rem solid
}

.fit-picture {
  width: 250px
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px
}

.nav-bar a:hover {
  background-color: #000000;
}

.active {
  background-color: #6495ED
}
  
 
    
  
