h1 {
  font-family: fantasy;
  font-size: 60px;
  color: yellow;
}

body {
  background-color: black;
}

p {
  color: #ffcc00;
  font: italic 30px "Fira Sans", serif;
  border: 1rem solid;
}

a {
  color: #ff9900
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3399ff;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
}

nav a:hover {
  background-color: black;
}


  
 
    
  
